
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear Proveedor</title>
</head>
<body>
    <div>
        <br /></br>
        <b>Crear Proveedores</b>
        <br /></br>
        @Html.ActionLink("Listado de Proveedores", "Listado")
        <br /></br>
        @Html.ActionLink("Retornar al Menu Principal", "Index", "Home")
    </div>
</body>
</html>
