
@{
    Layout = null;
    ViewBag.Title = "Menu Principal";
}

<div>
    <br /></br><br /></br>
    <b>Menú Principal</b>
    <br /></br>
    @Html.ActionLink("Listar Clientes", "Listado", "Clientes");
    <br /></br>
    @Html.ActionLink("Crear Clientes", "Crear", "Clientes");
    <br /></br>
    @Html.ActionLink("Listar Proveedores", "Listado", "Proveedores");
    <br /></br>
    @Html.ActionLink("Crear Proveedor", "Crear", "Proveedores");

</div>

