
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Listado</title>
</head>
<body>
    <div>
        <br /></br>
        <b>Listado de Clientes</b>
        <br /></br>
        @Html.ActionLink("Crear Cliente", "Crear")
        <br /></br>
        @Html.ActionLink("Retornar al Menu Principal", "Index", "Home")

    </div>
</body>
</html>
